body {
    font-family: "Gotham-Book";
    font-size: 18px;
    line-height: 1.66;
}

@font-face {
    font-family: gotham-black;
    src: url("assets/font-family/Gotham-Black_gdi.woff");
  }

@font-face {
    font-family: gotham-bold;
    src: url("assets/font-family/Gotham-Bold_gdi.woff");
} 

@font-face {
    font-family: gotham-book;
    src: url("assets/font-family/Gotham-Book_gdi.woff");
}

@font-face {
    font-family: gotham-light;
    src: url("assets/font-family/Gotham-Light_gdi.woff");
}

@font-face {
    font-family: gotham-medium;
    src: url("assets/font-family/Gotham-Medium_gdi.woff");
}

@font-face {
    font-family: gotham-thin;
    src: url("assets/font-family/Gotham-Thin_gdi.woff");
}

a.nav-link {
    padding: 8px 5rem !important;
    vertical-align: middle;
}
a .nav-label {
    opacity: 0;
    position: absolute;
    top: 5.5em;
    width: 12.3%;
    text-align: center;
    background: #a0d7e3;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.book-lbl {
    left: 6.5rem;
}
.feature-lbl {
    left: 17.599rem;
}
.reviews-lbl {
    left: 28.57rem;
}
.author-lbl {
    left: 39.77rem;
    width: 11% !important;
}
.subscribe-lbl {
    left: 50.1rem;
}
.price-lbl {
    left: 61.3rem;
}
.other-books-lbl {
    left: 72.4rem;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li.active > a {
    background-color: #a0d7e3;
    color: #26272b;
    border-radius: 0;
    opacity: 1;
}
a:hover .nav-label{
   opacity: 1; 
}

.img-bg {
    background-image: url("https://themes-pixeden.com/landing/ebook/assets/img/bg_1.jpg");
    background-color: rgb(40, 41, 45);
    background-blend-mode: multiply;
    opacity: 1;
}

.img-bg .container {
    transform: translate3d(0px, 58.3px, 0px) scale(1);
}

.i-left {
    /* width: 420px; */
    height: 525px; 
    background-color: #2e3037;
    text-align: center;
}

.top-right {
    padding-left: 100px;
    /* padding-top: 30px; */
    position: relative;
    z-index: 1000;
}

.top-right h1 {
    font-size: 96px;
    line-height: .87;
    letter-spacing: -1.5px;
}

h3 {
    font-size: 34px;
}

h4{
    font-size: 24px;
}

.pt-120 {
    padding-top: 0px;
    padding-bottom: 150px;
}

.color-light-blue {
    color: #a0d7e3;
}

.text-black {
    font-family: gotham-black;
}

.text-bold {
    font-family: gotham-bold;
}

.text-book {
    font-family: gotham-book;
}

.text-light {
    font-family: gotham-light;  
}

.text-medium {
    font-family: gotham-medium;
}

.text-thin {
    font-family: gotham-thin;
}

.written-by {
    margin: 20px 0 0 4px;
}

.f-28 {
    font-size: 28px;
}

.book-title {
    margin-left: 3px;
}

.pt-17 {
    padding-top: 17rem;
}

.yellow-light {
    color: #ecc28b;
}

.btn {
    font-family: 'Gotham-Bold';
    font-size: 21px;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #1e2124;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    padding: .76em 2em;
    line-height: 1;
    color: #1e2124;
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

.btn-white {
    color: white;
    border-color: white;
}

.btn-buy-now {
    margin-left: 7px;
    margin-top: 16px;
}

.f-39 {
    font-size: 39px;
}

.f-56 {
    font-size: 56px;
}

.mt-57 {
    margin-top: 57px;
}

.section-dark {
    background-color: #1e2124;
    color: white;
}

.f-21 {
    font-size: 21px;
}

.f-14 {
    font-size: 14px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-65 {
    margin-top: 65px;
}

.f-48 {
    font-size: 48px;
}

.text-normalcase {
    text-transform: none;
}

.mt-55 {
    margin-top: 55px;
}

.mb-80 {
    margin-bottom: 80px;
}

.ebook-features .media-left {
    padding-right: 37px;
    padding-top: 21px;
}

.media-body {
    display: table-cell;
    vertical-align: top;
}

.ebook-quote {
    border-left: none;
    padding: 0;
    font-size: 35px;
    line-height: 1.35;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.h-underlined {
    border-bottom: 2px solid;
    display: inline-block;
    padding-bottom: 9px;
}

.ls-1 {
    letter-spacing: 1px;
}
.lh-1-75 {
    line-height: 1.75em;
}
.fz-16 {
    font-size: 16px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}
.form-inline .form-group {
    max-width: 350px;
}
.mb-15 {
    margin-bottom: 15px;
}
.inputStyle {
    background: transparent;
    border: 0px 0px 2px 2px;
    border-bottom: 2.5px solid white;
    border-left: 0px;
    border-top: 0px;
    border-right: 2.5px solid white;
    border-radius: inherit;
    width: 400px !important;
    padding-bottom: 1rem;
}
.lblStyle {
    position: absolute;
    text-transform: uppercase;
}
.pb-150 {
    padding-bottom: 150px;
}
.mt-70 {
    margin-top: 70px;
}
.ebook-pricing-cols {
    border-right: 1px solid white;
}
.fz-16 {
    font-size: 16px;
}
.fz-28 {
    font-size: 28px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-40 {
    margin-top: 40px;
}
.fz-21 {
    font-size: 21px;
}
.mt-40 {
    margin-top: 40px;
}
.fz-50 {
    font-size: 50px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-60 {
    margin-top: 60px;
}
.section-regent-blue {
    background-color: #a0d7e3;
    color: white;
}
.section-light {
    color: #1e2124;
    background-color: #ebeef4;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-55 {
    margin-top: 55px;
}
.transform-effect {
    transform: translate3d(0px, 58.3px, 0px) scale(1);
}
.text-gray {
    color: #212529 !important;
}
.fz-29 {
    font-size: 29px;
}
.reg-input {
    background: transparent;
    border: 0px 0px 2px 2px;
    border-bottom: 2.5px solid white;
    border-left: 0px;
    border-top: 0px;
    border-right: 2.5px solid white;
    border-radius: inherit;
    padding-bottom: 1rem;
    margin: 1rem auto;
    text-transform: uppercase;
}
.mt-50 {
    margin-top: 50px;
}
.lh-2 {
    line-height: 2em;
}
.bg-dark {
    background-color: rgb(30, 33, 36)!important;
    /* opacity: 0.6; */
}
.mln-15 {
    margin-left: -15rem;
}
a#b-prev {
    display: flex;
}
.w-34 {
    width: 34rem;
}

@media(max-width: 723px) {
    .i-left {
        height: 265px;
        width: auto;
    }
    .top-left {
        margin: 0 auto 2rem;
    }
    .pt-17 {
        padding-top: 7rem !important;
        padding-bottom: 7rem !important;
    }
    .top-right {
        padding-left: 0px;
    }
    .first-section h2 {
        font-size: 14px;
    }
    .written-by{
        font-size: 12px;
    }
    .on-mobile {
        display: none;
    }
    .second-section h2 {
        font-size: 42px;
    }
    .on-mobile-sm-txt {
        font-size: 33px;
        font-family: gotham-light;
    }
    .font-20 {
        font-size: 20px;
    }
    .mobile-flex {
        display: flex;
        justify-content: center;
    }
    .mobile-flex sup {
        top: 0.5em !important;
    }
    .col-mobile {
        text-align: center;
    }
    .block-mob {
        display: block;
    }
    .mbt-2 {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    .top-31 {
        top: 31%;
    }
    .top-55 {
        top: 55%;
    } 
}

@media(max-width: 1024px) {
    .first-section h1 {
        display: block !important;
    }
    #printedPrice {

    }
}

@media(min-width: 768px) {
    .pt-17 {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .i-left {
        height: 265px;
        width: auto;
    }
}
@media(max-width: 990px) {
    .mln-15 {
        margin-left: 0;
    }
    a#b-prev {
        display: block;
    }
}

